.Nav_Transparent {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1000;
  transition: all .3s ease;
}

.Header_Title {
  font-size: 1.6rem !important;
  margin-left: 5%;

  @media screen and (max-width: 464px) {
    width: 53%;
  }

  @media screen and (max-width: 450px) {
    width: 53%;
  }

  @media screen and (max-width: 420px) {
    width: 60%;
  }

  @media screen and (max-width: 396px) {
    margin-left: 25%;
    width: 100%
  }

  @media screen and (max-width: 383px) {
    margin-left: 5%;
    width: 60%
  }

  @media screen and (max-width: 350px) {
    margin-left: 21%;
    width: 100%
  }

  @media screen and (max-width: 320px) {
    margin-left: 21%;
    width: 100%
  }
}

.Hover_color {
  text-transform: uppercase;

  &:hover {
    background-color: #0E0A0A;
  }
}

.scrolled {
  background-color: #ffffff;
  transition: all .3s ease;

  .Header_Title {
    color: #000;
  }

  .Hover_color {
    color: #000;

    &:hover {
      background-color: #9F9B97;
    }
  }

  .Trigger {
    color: #000;
  }
}

.active_links {
  border-bottom: 3px solid #F60;
  color: #f60 !important;
}