.SideNav_Container {
  width: 260px;
  background-color: rgb(27, 36, 48);
}

.Title_Container {
  background-color: rgb(35, 47, 62);
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

.Title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.Logo {
  width: 15%;
  margin-right: 10px;
}