.About_Section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  div {
    width: 50%;
    margin: 2em 0 3em 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 2em 0 0 0;
    }
  }

  .Content_Container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      width: 90%;
    }

    p {
      letter-spacing: 0.35px;
      font-size: 1.1rem;
      color: #787373;
      margin: 0.2em 0 0.5em 0;

      li {
        margin-left: 20px;
      }
    }
  }

  .Title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }

  .Heading_Divider {
    border-bottom: 1px solid #FFF;
    background-color: #DADADA;
    height: 1px;
    margin: 1em 0 2em 42%;

    @media screen and (max-width: 767px) {
      margin: 1em 0 0.5em 0;
    }

    & span {
      display: block;
      width: 100px;
      height: 1px;
      background-color: #F60;

      @media screen and (max-width: 767px) {
        margin: auto;
      }
    }
  }

  .Background_Image {
    width: 85%;
    padding: 2em;
    align-self: center;
    justify-self: center;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 1em;
    }
  }

  .Login_link {
    background-color: #035AAB;
    border-radius: 50px;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 2em;

    &:hover {
      background-color: #1487F2;
    }
  }
}